body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  padding: 30px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

input,
select,
button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
}

#hasil,
#penjelasan {
  margin-top: 20px;
  font-weight: bold;
}
